<div id="main">
   <h1><b>Customer Mood</b></h1>
   <p id="ratingText">Add your review on a scale of 1-3</p>
   <div id="icons">
         <div id="badRating" >
            <i class="fa-regular fa-face-frown-open  fa-5x" id="bad" (click)="customerMood('Bad')"></i>
            <p>Bad</p>
         </div>
         <div id="goodRating" >
            <i class="fa-regular fa-face-laugh-beam fa-5x" id="good" (click)="customerMood('Good')"></i>
            <p>Good</p>
         </div>
         <div id="excellentRating" >
            <i class="fa-regular fa-face-laugh fa-5x" id="excellent" (click)="customerMood('Excellent')"></i>
            <p>Excellent</p>
         </div>
   </div>
</div>