<header >
    <mat-toolbar color="primary" class="header" >
        <div id="hederLeftBlock">
            <button mat-icon-button (click)="toggleNavBar()">
                <mat-icon>view_headline</mat-icon>
            </button>
            <img class="heading-icon" src="assets\images\innovaLogo.svg" alt="learning Portal image">
            <!-- <span class="example-spacer"></span> -->
        </div>
        <div id="headerRightBlock">
            <div class="searchBar" style="position:static">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></div>
                    <input id="loginEmail" type="" placeholder="Search for Customers">
                </div>
            </div>
            <button class="account" mat-icon-button>
                <mat-icon class="notification-icon">notifications_none</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon class=" notification-account-icon  m-0 material-icons-outlined  md-48">
                    account_circle
                </mat-icon>
                <mat-icon id="downArrow"> keyboard_arrow_down</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon class="logOutIcon">login</mat-icon>
                    <span>Log Out</span>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>

</header>