a {
    text-decoration: none;
    color: black;
}
.opacity{
    opacity: 0.5;
    display: inline-block;
    margin-bottom: 2px;
    font-size: small;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid gainsboro;
}
header{
    height: 15%;
}
// body{
//     height: 75%;
// }

#clickComponent {
    height: calc(100vh - 280px);
    overflow-y: auto;
}

footer{
    height: 10%;
}
#close {
    float: right;
    cursor: pointer;
}

#navbar {
   
    div {
        cursor: pointer;
        font-weight: 400;
        // width: 170px;
        margin-left: 10px;
        
    }

    div:hover {
        font-weight: 900;
    }

    div:hover::before {
        display: block;
        content: '';
        font-weight: bold;
        overflow: hidden;
        visibility: hidden;

    }

    div span:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid #3F51B5;
        position: absolute;
        bottom: -4.5px;
        width: 100%;
    }

    div span {
        width: 170px;
        position: relative;
    }

    .active-tab {
        font-weight: bold;

        &::after {
            content: "";
            display: block;
            border-bottom: 3px solid #3F51B5;
            position: absolute;
            bottom: -4.5px;
            width: 100%;
            font-weight: bolder;
        }
    }
}
#footer{
    border-top: 1px solid black;
}

#footerButton {
    float: right;
    margin: 5px;
//     position: absolute;
// width: 108px;
// height: 32px;
// left: 1096px;
// top: 662px;

//  background: #0070CD;
// border-radius: 5px;
}
#footerButton .cancel{
    border: 0.5px solid #0070CD;
}
#footerButton .save{
    background: #0070CD;
}

#footerButton button {
    margin: 5px;
}
@media (max-width:768px){
    #navbar div span:hover::after{
        bottom: -10px;
    }
    #navbar{
        // flex-direction: column;
        align-items: flex-end;
    }
}