#clientData{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: small;
    p {
        margin: 0 0 2px !important;
    }
}
.opacity{
    opacity: 0.5;
    display: inline-block;
    margin-bottom: 2px;
    font-size: 12px;
}
#clientData{
   label{
    display: inline-block;
    width: 150px;
    font-weight: bold;
   }
   span{
    font-weight: 600;
   }
}
.para{
    width: 60%;
}
#editButton{
  color: #0070CD;
  opacity: 1;
  cursor: pointer;
  font-size: 12px;
}
#overviewCard {
    width: 100%;
    // height: 57%;
    margin: 10% 10% 10% 2% auto;
    p {
      margin: 0 0 2px !important;
  }
}
#breadcrum{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 10%;
}
#breadcrum h2{
    margin: 0;
}
#breadcrum button{
    color: blue;
    background-color: #C9E7FC;
    font-weight: 15px;

}
#breadcrum button mat-icon{
    transform: scale(0.7);
    margin-bottom: 6px;
}
#section1{
  width: 45%;
}
#vendorsBlock{
  margin-top: 10px;
  width: 25%;
  height: 98%;
  font-size: 14px;
}
.vendor-table{
height: 100%;
overflow: scroll;
}
.table-content{
  height: fit-content;
  overflow: scroll;
}

.table-responsive {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

#customerAdditionalDetails{
  height: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
#customerAdditionalDetails div{
  min-width: 250px;
}

th{
    line-height: 14px;
    font-weight: 600;
    font-size:14px;
    color: black;
}
td{
    line-height: 12px;
    font-weight: 400;
    font-size:14px;
}
table{
    width: 100%; 
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px;
}
mat-card{
  width: 100%;
  height: 100%;
  border-radius:12px; 
}
#csatWithMood{
  width: 24%;
}
.CSAT{
margin-top: 10px;
  height: 37%;
}
.mood{
  margin-top: 2%;
  height: 55%;
}
.financial{
  margin-top: 10px;
  width: 24%;
  height: 100%;
}
.engagement{
  margin-top: 10px;
  width: 24%;
  height: 100%;
}
.rating{
  display:flex;
  justify-content:center;
  gap:5px;
  margin-top:40px;
}

i{
  color:#8080806b;
  cursor:pointer;
}

.active{
  color:#0070CD;
}
.rating>i{
  left:50px;
  letter-spacing: 28px;
}


#updatedDate{
  font-size: 12px;
  position: relative;
  top: -20px;
  p{
    color: #8798AD;
    ;
  }
}


// @media(max-width: 1200px){
//   #customerAdditionalDetails{

//   }
// }