$g-nav-background-color: #FFF;
$parent-background-color:#9ca5ae;

.mat-drawer
{
  height: 100% !important;
  min-height: 100% !important;
  background-color: $g-nav-background-color !important;
  @media(min-width: 1024px){
    width: 4.5% !important;
  }
}
.data-label
{
  display: inline-block;
  @media(min-width: 1024px){
    display: none;
  }
}

.mat-drawer:hover
{
  width: 15% !important;
  .data-label
  {
    display: inline-block;
  }
}

.nav-item-button {
    background-color: transparent;
    border: none;
    color: #4f4c4c;
}

.nav-item-img {
  background-color: #9ca5ae;
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
  font-weight: 700;
}
.navbar-container
{
  width: 100% !important;
  height: 89% !important;
  
}
.help-box
{
  display: none;
}
.mat-drawer:hover .help-box
{
  display: block;
}
.main-content{
  height: 100%;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

// @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
//   /* CSS */
  
// .mat-drawer
// {
//   width: 8% !important;
// }
// .data-label
// {
//   display: none !important;
// }

// .mat-drawer:hover
// {
//   width: 22% !important;
//   .data-label
//   {
//     display: inline-block !important;
//   }
// }
  
// }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

// @media (min-width: 481px) and (max-width: 767px) {
  
//   /* CSS */
 
// .mat-drawer
// {
//   width: 12% !important;
// }
// .data-label
// {
//   display: none !important;
// }

// .mat-drawer:hover
// {
//   width: 25% !important;
//   .data-label
//   {
//     display: inline-block !important;
//   }
// }

  
// }

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

// @media (min-width: 320px) and (max-width: 480px) {
  
//   /* CSS */
//   .help-box
//   {
//     display: none;
//   }
//   mat-sidenav-container
// {
//     position: fixed;
//     z-index: 12;
// }
// .navbar-container
// {
//   width: 100% !important;
//   .data-label
//   {
//     display: inline-block;
//   }
  
// }

.mat-drawer
{
  width: 15% !important;
}
.data-label
{
  display: inline-block !important;
}

// .mat-drawer:hover
// {
//   width: 52% !important;
//   .data-label
//   {
//     display: inline-block !important;
//   }
// }




