@import '../../../../styles.scss';
$g-nav-background-color: #EFF7FF;
.footer-content {
    position: relative !important;
    width: 100%;
    background-color: $g-nav-background-color;
    color:black !important;
    position: relative !important; 
    float: left !important;
    font-size: 10px !important;
}
.footer-text{
    float: right;
}
